# Python 3 standard library includes the packages listed here: https://docs.python.org/3/library/index.html

# Required packages listed in alphabetical order
# WARNING: Some of the packages are only available via `pip install` and NOT via `conda install` because conda does not have access to the PyPI repository
# (or it's not compatible with PyPI), which is where those packages are stored.
# Ref: https://stackoverflow.com/questions/48138836/conda-cant-find-packages-at-pypi-org-simple
gym==0.12.1		# --> Installed with `pip install`
numpy==1.18.3	# --> Use version 1.14 if running the process at IRIT's cluster, since this version is what is installed there (as of 06-Jul-2021)
                # Note that function printoptions() --which I tended to use often-- is available since v1.15, so when
                # using v1.14 we need to adapt the code to the older way of changing the print options (already done in my code as of Jul-2021)
                # (Ref: https://numpy.org/doc/1.14/reference/generated/numpy.printoptions.html --> but now (~ Oct-2021) gives Error 404)
pandas==0.22.0

# Suggested packages listed in alphabetical order
pytest==3.3.2
unittest_data_provider==1.0.1   # --> Installed with `pip install`
